
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chocolatey Software | Installing Chocolatey</title>
    
    
    <meta name="description" content="Resourceful French-Canadian volunteering in Ukraine and giving much needed care and attention to refugees and victims of war crimes." />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@quebec4ukraine">
    <meta name="twitter:title" content="Setup">
    <meta name="twitter:image" content="/images/twitter-share.png">
    <meta property="og:title" content="Setup" />
    <meta property="og:description" content="Resourceful French-Canadian volunteering in Ukraine and giving much needed care and attention to refugees and victims of war crimes." />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-180x180.png" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" data-no-mirror>
    <link rel="stylesheet" href="/css/quebec4ukraine.bundle.min.css" />
    
    

    <script>
        if(!/MSIE \d|Trident.*rv:/.test(navigator.userAgent)){const e=localStorage.getItem("theme"),t=document.getElementsByTagName("html")[0];e?"dark"==e?(t.classList.add("dark-theme"),t.setAttribute("data-user-color-scheme","dark")):(t.classList.add("light-theme"),t.setAttribute("data-user-color-scheme","light")):window.matchMedia("(prefers-color-scheme: dark)").matches?t.classList.add("dark-theme"):t.classList.add("light-theme")}
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-2743882-12"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-2743882-12');
    </script>
    <script type="text/javascript" async referrerpolicy="unsafe-url" src="https://ws.zoominfo.com/pixel/KPKpTJOFOv5SuV7X3eGx"></script>
    
    

<script async src='/js/api.js'></script></head>

<body class="chocolatey-org">
    <script type="text/javascript" src="https://secure.make6pain.com/js/194108.js"></script>
<noscript><img alt="" src="https://secure.make6pain.com/194108.png")" style="display:none;" /></noscript>


  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
    <link href="styles/style.css" rel="stylesheet" type="text/css">
  <link href="styles/code.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  {%- feed_meta -%}
  {%- if jekyll.environment == 'production' and site.google_analytics -%}
    {%- include google-analytics.html -%}
  {%- endif -%}

  <!-- highlight.js support -->
  <link rel="stylesheet" href="/js/highlightjs/styles/github.css">
  <link rel="stylesheet" href="/js/highlightjs/styles/ssms.css" />

  <script type="text/javascript" src="/js/highlightjs/highlight.min.js"></script>

  <script type="text/javascript" src="/js/highlightjs/languages/plaintext.min.js"></script>
  <script type="text/javascript" src="/js/highlightjs/languages/powershell.min.js"></script>
  <script type="text/javascript" src="/js/highlightjs/languages/tsql.min.js"></script>

  <script type="text/javascript"> hljs.highlightAll(); </script>
  <!-- end highlight.js support -->
</head>